*~
*.bak
*.swp
#*#
build
rootfs
arm_common
algo
dvr
egldisplay
CMakeCache.txt
CMakeFiles/
*.o
*.out
*.so*
*.la*
GPATH
GRTAGS
GTAGS
.cache
obj
bin
lib
*.cscope_file_list
*.depend
*.layout
compile_commands.json
